* {
  box-sizing: border-box;
}
@page {
  margin: 0;
}
html, body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.badge {
  background-image: url('background.svg');
  background-size: cover;
  padding: 2rem 2.5rem;
  page-break-before: always;

  width: 41.3386rem;
  height: 58.26777rem;
  border-bottom: 1px solid #fff;
  color: #222;
  position: relative;
}
.badge-contents {
  margin-top: 3rem;
  text-align: left;
}
.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: .4rem solid #000;
  position: absolute;
  top: 23rem;
  right: 5rem;
}
.name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.5;
}
.twitter {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #666;
}

@media print 
{
   @page
   {
    size: 105mm 148mm;
    /*size: 85mm 55mm;*/
    size: landscape;
  }
  .badge {
    background-image: url('background.png');
  }
}
